@use "@styles/color";
@use "@styles/font";
@use "@styles/space";
@use "@styles/breakpoint";
@use "@styles/misc";

.footer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: color.$gray-50;

  @media (min-width: breakpoint.$desktop) {
    height: misc.$footer-height;
    flex-direction: row;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: space.$s0 space.$s8;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  @media (min-width: breakpoint.$desktop) {
    flex-direction: row;
    padding: space.$s0 space.$s8;
  }
}

.versionContainer {
  width: 10rem;
  order: 3;

  @media (min-width: breakpoint.$desktop) {
    order: 1;
  }
}

.version {
  font: font.$text-md-regular;
  color: color.$gray-400;
}

.list {
  display: flex;
  order: 1;
  gap: space.$s6;
  justify-content: center;
  align-items: center;

  @media (min-width: breakpoint.$desktop) {
    order: 2;
  }
}

.menuItem {
  font: font.$text-md-medium;
  color: color.$gray-500;
  text-decoration: none;
  transition: color 0.2s;
}

.logoContainer {
  display: flex;
  order: 2;
  width: 10rem;
  flex-direction: column;
  align-items: flex-end;

  @media (min-width: breakpoint.$desktop) {
    order: 3;
  }
}
