@use "@styles/color";
@use "@styles/font";
@use "@styles/space";
@use "@styles/shadow";

.icon {
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: space.$s2;
  border-radius: space.$s2;

  // 0 margin for p tag
  & p {
    margin: 0;
  }

  &.sm {
    padding: space.$s2 0.875rem;
    height: space.$s9;
    font: font.$text-sm-medium;
  }

  &.md {
    padding: 0.625rem space.$s4;
    height: space.$s10;
    font: font.$text-sm-medium;
  }

  &.lg {
    padding: 0.625rem 1.125rem;
    height: space.$s11;
    font: font.$text-md-medium;
  }

  &.xl {
    padding: space.$s3 space.$s5;
    height: space.$s12;
    font: font.$text-md-medium;
  }

  &.iconOnly {
    padding: space.$s2;
  }

  &.primary {
    border: 1px solid color.$primary-600;
    background: color.$primary-600;
    color: color.$white;
    box-shadow: shadow.$xs;

    &:hover {
      border: 1px solid color.$primary-700;
      background: color.$primary-700;
    }

    &:focus {
      /* Shadow/xs focused 4px primary-100 */
      box-shadow:
        shadow.$xs,
        0 0 0 4px #f4ebff;
    }

    &:disabled {
      border: 1px solid color.$primary-200;
      background: color.$primary-200;
    }
  }

  &.secondary {
    background: color.$primary-50;
    border: 1px solid color.$primary-50;
    color: color.$primary-700;
    box-shadow: shadow.$xs;

    &:hover {
      border: 1px solid color.$primary-100;
      background: color.$primary-100;
    }

    &:focus {
      border: 1px solid color.$primary-50;
      background: color.$primary-50;

      /* Shadow/xs focused 4px primary-100 */
      box-shadow:
        shadow.$xs,
        0 0 0 4px #f4ebff;
    }

    &:disabled {
      border: 1px solid color.$primary-25;
      background: color.$primary-25;
      color: color.$primary-300;
    }
  }

  &.gray {
    color: color.$gray-700;
    border: 1px solid color.$gray-300;
    background: color.$white;
    box-shadow: shadow.$xs;

    &:hover {
      background: color.$gray-50;
      color: color.$gray-800;
    }

    &:focus {
      /* Shadow/xs focused 4px grey-100 */
      box-shadow:
        shadow.$xs,
        0 0 0 4px #f2f4f7;
    }

    &:disabled {
      color: color.$gray-300;
      border: 1px solid color.$gray-200;
    }
  }

  &.empty {
    color: color.$primary-700;

    &:hover {
      background: color.$primary-50;
    }

    // No focus: same as default
    &:disabled {
      color: color.$gray-300;
    }
  }

  &.empty-gray {
    color: color.$gray-500;

    &:hover {
      color: color.$gray-600;
      background: color.$gray-50;
    }

    // No focus: same as default
    &:disabled {
      color: color.$gray-300;
    }
  }

  &.error {
    color: color.$white;
    border: 1px solid color.$error-600;
    background: color.$error-600;
    box-shadow: shadow.$xs;

    &:hover {
      border: 1px solid color.$error-700;
      background: color.$error-700;
    }

    &:focus {
      /* Shadow/xs focused 4px error-100 */
      box-shadow:
        shadow.$xs,
        0 0 0 4px #fee4e2;
    }

    &:disabled {
      border: 1px solid color.$error-200;
      background: color.$error-200;
    }
  }

  &.empty-error {
    color: color.$error-700;

    &:hover {
      background: color.$error-50;
    }

    // No focus: same as default
    &:disabled {
      color: color.$error-300;
    }
  }
}
